#offre {
    width: 700px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    position: relative;
    text-align: center;
}

#company {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    background-color: rgb(255 205 55 /20%);
    padding: 30px;
    width: fit-content;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    position: relative;
}

#companyLogo > div > img {
    width: 150px;
}

#companyInfos {
    width: 300px;
    text-align: left;
}

#companyInfos > p {
    margin-top: 0;
}

#companyInfos > p > #companyName {
    font-size: 1.3em;
}

#companyInfos > p > #companyLocation {
    color: gray;
}

#description > span {
    font-size: 1.3em;
}

#requirements {
    text-align: left;
    margin-top: 50px;
}

#requirements > p {
    font-size: 1.3em;
}

#offre > button {
    border: none;
    font-size: 1.7em;
    background-color: transparent;
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgb(255 205 55);
}

@media screen and (max-width: 700px) {
    #offre {
        width: 500px;
    }

    #offre > #company {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #offre {
        width: 350px;
    }
}